<html>
	<head>
		<title>IPFS forwarder</title>
	</head>
	<body>
		<h1>
			{{ .title }}
		</h1>
		<form action="/" method="get">
			<input type="text" name="{{ .URLParam }}" />
			<input type="submit" />
		</form>
		<scrip>

		</scrip>
	</body>
</html>