<html>
	<head>
		<title>IPFS forwarder</title>
	</head>
	<body>
		<h1>
			{{ .title }}
		</h1>
		<p>Paste an url to upload its content to IPFS.</p>
		<form action="/" method="get">
			<input class="url-input" type="text" name="{{ .URLParam }}" />
			<input class="submit button" type="submit" value="Submit" />
		</form>
		<scrip>

		</scrip>
	</body>
<style>

body {
	text-align: center;
}

.url-input {
	width: 500px;
	display: block;
	height: 40px;
	font-size: 14px;
	margin: auto;

}

.submit {
	margin: 20px;
}

</style>
</html>